ログイン中…

<% @tweets.each do |e| %>
    <p>
        <%= e.message %>
        <%=link_to '削除', "/tweets/#{e.id}", data: { turbo_method: :delete } %>
        <%=link_to '表示', "/tweets/#{e.id}" %>
    </p>
<% end %>

<%= link_to '新規追加', 'tweets/new' %>

<%= link_to 'ログアウト', controller: 'top', action: 'logout' %>

